In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 讀進上市公司營益分析資料

In [3]:
df=pd.read_csv("http://mopsfin.twse.com.tw/opendata/t187ap17_L.csv")

### 查看資料型態

In [4]:
df.info     #除了公司名稱，其他都是數值

<bound method DataFrame.info of           出表日期   年度  季別  公司代號  公司名稱  營業收入(百萬元)  毛利率(%)(營業毛利)/(營業收入)  \
0    108/12/31  108   3  1101    台泥   87561.88                29.16
1    108/12/31  108   3  1102    亞泥   66206.88                28.86
2    108/12/31  108   3  1103    嘉泥    1362.99                11.75
3    108/12/31  108   3  1104    環泥    3551.36                10.30
4    108/12/31  108   3  1108    幸福    2660.11                 7.00
..         ...  ...  ..   ...   ...        ...                  ...
904  108/12/31  108   3  9944    新麗    2237.10                24.14
905  108/12/31  108   3  9945   潤泰新   12372.26                21.68
906  108/12/31  108   3  9946  三發地產    3930.37                40.88
907  108/12/31  108   3  9955    佳龍    1363.88                 4.54
908  108/12/31  108   3  9958   世紀鋼    1427.30                10.29

     營業利益率(%)(營業利益)/(營業收入)  稅前純益率(%)(稅前純益)/(營業收入)  稅後純益率(%)(稅後純益)/(營業收入)
0                    23.86                  27.25                  21.59
1                    24.47                  32.51                  25.58
2                   -16.58                  82.43                 117.13
3                     1.71                  20.54                  19.81
4                     0.76                   0.24                  -0.03
..                     ...                    ...                    ...
904                   3.18                   2.42                   0.73
905                  11.56                  88.60                  86.22
906                  32.90                  32.61                  32.47
907                  -1.21                   2.55                   2.55
908                  -2.17                  42.90                  40.42

[909 rows x 10 columns]>

In [5]:
df

,出表日期,年度,季別,公司代號,公司名稱,營業收入(百萬元),毛利率(%)(營業毛利)/(營業收入),營業利益率(%)(營業利益)/(營業收入),稅前純益率(%)(稅前純益)/(營業收入),稅後純益率(%)(稅後純益)/(營業收入)
0,108/12/31,108,3,1101,台泥,87561.88,29.16,23.86,27.25,21.59
1,108/12/31,108,3,1102,亞泥,66206.88,28.86,24.47,32.51,25.58
2,108/12/31,108,3,1103,嘉泥,1362.99,11.75,-16.58,82.43,117.13
3,108/12/31,108,3,1104,環泥,3551.36,10.30,1.71,20.54,19.81
4,108/12/31,108,3,1108,幸福,2660.11,7.00,0.76,0.24,-0.03
...,...,...,...,...,...,...,...,...,...,...
904,108/12/31,108,3,9944,新麗,2237.10,24.14,3.18,2.42,0.73
905,108/12/31,108,3,9945,潤泰新,12372.26,21.68,11.56,88.60,86.22
906,108/12/31,108,3,9946,三發地產,3930.37,40.88,32.90,32.61,32.47
907,108/12/31,108,3,9955,佳龍,1363.88,4.54,-1.21,2.55,2.55
908,108/12/31,108,3,9958,世紀鋼,1427.30,10.29,-2.17,42.90,40.42

In [6]:
df.sort_values(by="營業收入(百萬元)",ascending=False)

,出表日期,年度,季別,公司代號,公司名稱,營業收入(百萬元),毛利率(%)(營業毛利)/(營業收入),營業利益率(%)(營業利益)/(營業收入),稅前純益率(%)(稅前純益)/(營業收入),稅後純益率(%)(稅後純益)/(營業收入)
261,108/12/31,108,3,2317,鴻海,3601878.65,5.64,1.81,2.81,2.11
665,108/12/31,108,3,4938,和碩,948274.88,3.18,1.01,1.54,1.04
268,108/12/31,108,3,2330,台積電,752748.38,44.30,33.01,34.68,30.46
305,108/12/31,108,3,2382,廣達,732212.93,4.69,1.66,1.97,1.60
264,108/12/31,108,3,2324,仁寶,712919.02,3.42,1.05,1.02,0.80
...,...,...,...,...,...,...,...,...,...,...
404,108/12/31,108,3,2528,皇普,1.30,80.12,-6458.40,-812.56,-2668.72
78,108/12/31,108,3,1453,大將,0.61,55.79,-3495.11,1938.83,-206.69
65,108/12/31,108,3,1438,裕豐,0.01,-360.00,-63220.00,-92540.00,-92540.00
793,108/12/31,108,3,6541,泰福-KY,0.00,0.00,0.00,0.00,0.00
721,108/12/31,108,3,6131,鈞泰,-3.87,217.39,898.09,945.52,945.52

### 營業收入最高的五間公司

In [7]:
df1_sort=df.sort_values(by="營業收入(百萬元)",ascending=False)
df1_sort.index=range(1,910)
df1_sort.head()

,出表日期,年度,季別,公司代號,公司名稱,營業收入(百萬元),毛利率(%)(營業毛利)/(營業收入),營業利益率(%)(營業利益)/(營業收入),稅前純益率(%)(稅前純益)/(營業收入),稅後純益率(%)(稅後純益)/(營業收入)
1,108/12/31,108,3,2317,鴻海,3601878.65,5.64,1.81,2.81,2.11
2,108/12/31,108,3,4938,和碩,948274.88,3.18,1.01,1.54,1.04
3,108/12/31,108,3,2330,台積電,752748.38,44.30,33.01,34.68,30.46
4,108/12/31,108,3,2382,廣達,732212.93,4.69,1.66,1.97,1.60
5,108/12/31,108,3,2324,仁寶,712919.02,3.42,1.05,1.02,0.80

### 統一排名第10

In [8]:
df1_sort[df1_sort.公司名稱=="統一"]

,出表日期,年度,季別,公司代號,公司名稱,營業收入(百萬元),毛利率(%)(營業毛利)/(營業收入),營業利益率(%)(營業利益)/(營業收入),稅前純益率(%)(稅前純益)/(營業收入),稅後純益率(%)(稅後純益)/(營業收入)
10,108/12/31,108,3,1216,統一,343353.76,35.03,7.44,8.97,7.0

### 毛利率最高的五間公司

In [9]:
df2_sort=df.sort_values(by="毛利率(%)(營業毛利)/(營業收入)",ascending=False)
df2_sort.index=range(1,910)
df2_sort.head()

,出表日期,年度,季別,公司代號,公司名稱,營業收入(百萬元),毛利率(%)(營業毛利)/(營業收入),營業利益率(%)(營業利益)/(營業收入),稅前純益率(%)(稅前純益)/(營業收入),稅後純益率(%)(稅後純益)/(營業收入)
1,108/12/31,108,3,6131,鈞泰,-3.87,217.39,898.09,945.52,945.52
2,108/12/31,108,3,6533,晶心科,361.65,99.80,0.81,1.97,1.57
3,108/12/31,108,3,1435,中福,16.04,93.89,-84.54,69.86,69.86
4,108/12/31,108,3,1416,廣豐,203.80,90.18,-12.91,-20.20,-19.46
5,108/12/31,108,3,3130,一零四,1233.36,90.00,20.93,21.77,18.02

### 統一的毛利率排名第167

In [10]:
df2_sort[df2_sort.公司名稱=="統一"]

,出表日期,年度,季別,公司代號,公司名稱,營業收入(百萬元),毛利率(%)(營業毛利)/(營業收入),營業利益率(%)(營業利益)/(營業收入),稅前純益率(%)(稅前純益)/(營業收入),稅後純益率(%)(稅後純益)/(營業收入)
167,108/12/31,108,3,1216,統一,343353.76,35.03,7.44,8.97,7.0

### 稅後純益率最高的五間公司

In [11]:
df3_sort=df.sort_values(by="稅後純益率(%)(稅後純益)/(營業收入)",ascending=False)
df3_sort.index=range(1,910)
df3_sort.head()

,出表日期,年度,季別,公司代號,公司名稱,營業收入(百萬元),毛利率(%)(營業毛利)/(營業收入),營業利益率(%)(營業利益)/(營業收入),稅前純益率(%)(稅前純益)/(營業收入),稅後純益率(%)(稅後純益)/(營業收入)
1,108/12/31,108,3,6131,鈞泰,-3.87,217.39,898.09,945.52,945.52
2,108/12/31,108,3,1439,中和,138.48,0.89,-76.53,742.08,662.45
3,108/12/31,108,3,2915,潤泰全,2768.80,23.78,-2.13,374.06,372.90
4,108/12/31,108,3,2923,鼎固-KY,4346.51,50.08,32.90,40.21,208.36
5,108/12/31,108,3,1437,勤益控,450.62,71.70,50.91,65.18,186.45

In [12]:
# 查看相關性
df.corr().round(2)

,年度,季別,公司代號,營業收入(百萬元),毛利率(%)(營業毛利)/(營業收入),營業利益率(%)(營業利益)/(營業收入),稅前純益率(%)(稅前純益)/(營業收入),稅後純益率(%)(稅後純益)/(營業收入)
年度,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
季別,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
公司代號,NaN,NaN,1.00,-0.04,0.09,0.04,0.03,0.03
營業收入(百萬元),NaN,NaN,-0.04,1.00,-0.06,0.01,0.01,0.01
毛利率(%)(營業毛利)/(營業收入),NaN,NaN,0.09,-0.06,1.00,0.55,0.56,0.56
營業利益率(%)(營業利益)/(營業收入),NaN,NaN,0.04,0.01,0.55,1.00,0.99,1.00
稅前純益率(%)(稅前純益)/(營業收入),NaN,NaN,0.03,0.01,0.56,0.99,1.00,1.00
稅後純益率(%)(稅後純益)/(營業收入),NaN,NaN,0.03,0.01,0.56,1.00,1.00,1.00